/*Pour les ressources statiques (Static Resource): fichiers css, javascript, image,...
les placer dans le dossier src/main/resources/static ou dans ses sous-dossiers
*/

h1 {
    color:#6666ff;
}

h2 {
    color: #993366;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;


